@tailwind base;
@tailwind components;
@tailwind utilities;

@variant dark (.dark &);

@layer base {
    h1 {
        @apply text-4xl md:text-5xl font-extrabold leading-tight;
    }

    h2 {
        @apply text-2xl md:text-3xl font-bold;
    }

    h3 {
        @apply text-xl font-semibold;
    }

    p {
        @apply text-gray-600 dark:text-gray-400 leading-relaxed;
    }

    pre {
        @apply bg-zinc-900 text-zinc-100 rounded-lg p-5 text-sm overflow-x-auto leading-relaxed;
    }

    code {
        @apply font-mono;
    }

}