---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import CommandPalette from "../components/CommandPalette.jsx";

// Import CSS di frontmatter, Astro + Vite akan bundling otomatis
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <slot name="head" />
  </head>

  <body
    class="bg-white dark:bg-gray-900 text-gray-900 dark:text-white min-h-screen flex flex-col"
  >
    <Navbar />

    <main class="grow">
      <slot />
    </main>

    <Footer />
    <CommandPalette client:idle />
  </body>
</html>
